

.appointment-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; /* Geniþlik limiti */
    text-align: center;
    margin-bottom: 200px;
    margin-right: 120px;
}




h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
}

input, select {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #c64343;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #ef5050;
    }

/* Onay Mesajý */
.hidden {
    display: none;
}

#confirmation {
    background-color: #e4f9e4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}



/* Back to top butonu */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8a92dc;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

/* Hamburger Menü */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .nav-links.active {
            display: flex;
        }

        .nav-links li {
            margin: 10px 0;
            text-align: center;
        }
}

/* Geçmiþ Randevular */
.previous-appointments-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    ;
    padding: 20px;
    margin-bottom: 30px; /* Kutular arasýnda boþluk býrak */
}



    .previous-appointments-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.table {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 35px;
}

    .table th, .table td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #c64343;
        color: white;
    }

    .table td {
        background-color: #f9f9f9;
    }
/* Responsive Düzenleme */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
